# Jupyter Node:
1. show Shortcut using => "h" or Help -> keyboard Shortcuts
2. change edit mode to command mode => y
3. change command mode to edit mode => m
4. execute cell + insert one line => option + enter 
5. execute cell => control + enter 
6. delete cell => dd
7. insert cell above => a
8. insert cell below => b

# Python practice

In [19]:
print("hello world")

name = input('please enter your name: ')
name

hello world
please enter your name: jason

'jason'

In [22]:
s1 = 72
s2 = 85
r = (s2-s1)/s1
print('%.1f' % r)

0.2

# List

In [39]:
# 列出班里所有同学的名字，就可以用一个list表示：
classmates = ['Michael', 'Bob', 'Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [38]:
# 变量classmates就是一个list。用len()函数可以获得list元素的个数：
len(classmates)

6

In [37]:
# list元素也可以是另一个list，比如：
s = ['python', 'java', ['asp', 'php'], 'scheme']
len(s)

4

In [36]:
# list是一个可变的有序表，所以，可以往list中追加元素到末尾：
classmates.append('Adam')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam', 'Adam']

In [35]:
# 也可以把元素插入到指定的位置，比如索引号为1的位置：
classmates.insert(1, 'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [34]:
# 要注意s只有4个元素，其中s[2]又是一个list，如果拆开写就更容易理解了：
p = ['asp', 'php']
s = ['python', 'java', p, 'scheme']
s

['python', 'java', ['asp', 'php'], 'scheme']

In [33]:
# 如果一个list中一个元素也没有，就是一个空的list，它的长度为0：
L = []
len(L)

0

# Tuple

In [40]:
# 另一种有序列表叫元组：tuple。tuple和list非常类似，但是tuple一旦初始化就不能修改，比如同样是列出同学的名字：
classmates = ('Michael', 'Bob', 'Tracy')

In [42]:
# Python在显示只有1个元素的tuple时，也会加一个逗号,，以免你误解成数学计算意义上的括号。
t = ('a', 'b', ['A', 'B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])

In [43]:
# 只有1个元素的tuple定义时必须加一个逗号,，来消除歧义：
t = (1,)
t

(1,)

# 练习
小明身高1.75，体重80.5kg。请根据BMI公式（体重除以身高的平方）帮小明计算他的BMI指数，并根据BMI指数：

低于18.5：过轻
18.5-25：正常
25-28：过重
28-32：肥胖
高于32：严重肥胖
用if-elif判断并打印结果：
'''

In [44]:
height = 1.75
weight = 80.5

variable = '小明的BMI指数：'
bmi = weight/(height**2)
if bmi<18.5:
    print(f'{variable }过轻')
elif bmi < 25:
    print('{0}正常'.format(variable ))
elif bmi < 28:
    print(f'%s过重 {bmi:.1f}' % variable )
elif bmi <32:
    print(f'bmi is {bmi:.1f},肥胖')
else:
    print(f'bmi is {bmi:.1f}, 严重肥胖')

小明的BMI指数：过重 26.3

# Lintcode Note

In [65]:
# open file and wirte, close
# with open(path, 'w') as f:
#    f.write('Hello World!')
# f.close()

# with open(input_filepath, 'r') as f:
#     data_list = f.read().split(' ')
# print (sum(map(int, data_list)))

# print([i for i in var_str.replace('_', ' ').replace('Zhuge Dan','Zhuge Liang').split('#') if i !=''])

In [58]:
# from a_plus_b import plus

# from folder_name import module_name

# import math
# print (int(math.sqrt(c**2 - a**2)))

In [56]:
# L = [i for i in list_1 if i[0] in  ['j', 'z', 'd', 'f', 'h']]

# l = [i for i in range(range1, range2) if i > 4 and i%2 == 0]

# if list_1.count(i) %2 == 1:

In [52]:
# import datetime
# return today + datetime.timedelta(days = -1)

In [53]:
# list_in.sort(reverse=True)

In [57]:
# combine 2 list => list_a+list_b

# repeat 3 time => list_a*3

# bool whether the value exist => return value in list_a
# print(num_1 is num_2)

# list the initial character in each element => return [i[0] for i in list_a]

# divide and round down => print((num_1+num_1*num_1)//(num_1+2) in list_1)

In [60]:
# exception, %s
# raise DiscoverBlacklist('Alert, %s is on the blacklist.' % customer)

In [61]:
# de, short, en expland
# print(content.decode())
# print(text.encode())

In [62]:
# 2939 · Complete the chain table class (II)

In [63]:
# var = 
# f"var is {var}"
# "var is {}".format(var)
# "var is {v}".format(v=var)
# "var is %s" % var